.Radiobox {
  + Label {
    margin-left: 5px;
  }

  &[disabled] {
    &:hover {
      cursor: not-allowed;

      + label {
        cursor: not-allowed;
      }
    }
  }

  &:hover {
    cursor: pointer;

    + label {
      cursor: pointer;
    }
  }
}
